<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coza Store</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
	<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}"/>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
	      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	      rel="stylesheet"
	 />
	 <link rel="stylesheet" type="text/css" th:href="@{/vendor/fonts/boxicons.css}" />
	 
	
	 <link rel="stylesheet" type="text/css" th:href="@{/vendor/css/core.css}" class="template-customizer-core-css" />
	 <link rel="stylesheet" type="text/css" th:href="@{/vendor/css/theme-default.css}" class="template-customizer-theme-css" />
	 <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">

	 
	 
	 <!-- Vendors CSS -->
	 <link rel="stylesheet" type="text/css" th:href="@{/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}">

	 <link rel="stylesheet" type="text/css" th:href="@{/vendor/libs/apex-charts/apex-charts.css}" />

	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	 <!-- Page CSS -->
	

	  <style>
	       #loading-spinner {
	     border: 8px solid #f3f3f3;
	     border-top: 8px solid #3498db;
	     border-radius: 50%;
	     width: 50px;
	     height: 50px;
	     animation: spin 1s linear infinite;
	     margin: 20% auto;
	 }

	 @keyframes spin {
	     0% { transform: rotate(0deg); }
	     100% { transform: rotate(360deg); }
	 }

	 #content {
	     display: none;
	 }
	     </style>
	 
	 <!-- Helpers -->
	 
	  <script th:src="@{/vendor/js/helpers.js}"></script>
	  <script th:src="@{/js/config.js}"></script>
 
</head>
<body>
    <div id="loading-spinner"></div>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar" id="content" style="display: none;">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/admin/dashboard" class="app-brand-link">
              <span class="app-brand-text demo menu-text fw-bolder ms-2">Coza store</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">

            <!-- Dashboard -->
            
                <li class="menu-item">
                    <a href="/admin/dashboard" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-home-circle"></i>
                      <div data-i18n="Analytics">Dashboard</div>
                    </a>
                </li>
             

            <!-- Sales Report -->
            
                <li class="menu-item active">
                    <a href="/admin/sales-report" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-collection"></i>
                      <div data-i18n="Analytics">Sales Report</div>
                    </a>
                </li>
             

            <!-- Users -->
            
                <li class="menu-item">
                    <a href="/admin/users" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-user-circle"></i>
                      <div data-i18n="Analytics">Users</div>
                    </a>
                </li>
             

            <!-- Product -->
            
                <li class="menu-item">
                    <a href="/admin/product" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-collection"></i>
                      <div data-i18n="Analytics">Product</div>
                    </a>
                </li>
             

            <!-- Category -->
            
                <li class="menu-item">
                    <a href="/admin/category" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-collection"></i>
                      <div data-i18n="Analytics">Category</div>
                    </a>
                </li>
             

            <!-- Order -->
            
                <li class="menu-item">
                    <a href="/admin/order" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-collection"></i>
                      <div data-i18n="Analytics">Order</div>
                    </a>
                </li>
             

            <!-- Coupon -->
            
                <li class="menu-item">
                    <a href="/admin/coupons" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-collection"></i>
                      <div data-i18n="Analytics">Coupon</div>
                    </a>
                </li>
             

            <!-- Banner -->
            
                <li class="menu-item">
                    <a href="/admin/banner" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-collection"></i>
                      <div data-i18n="Analytics">Banner</div>
                    </a>
                </li>
             

            <!-- Logout -->
            <li class="menu-item">
              <a href="/admin/Logout" class="menu-link">
                <div data-i18n="Analytics">Logout</div>
              </a>
            </li>

          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none container-xxl  " style="background-color: #fff; width: 100%;">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
                <span class="app-brand-text demo menu-text fw-bolder ms-2" style="color: #566a7f;">Coza store</span>
              </a>
            </div>

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Sales Report</h4>
      <form action="/admin/sales-report?filtered=true" method="post">
        <span class="fw-bold">From</span>
        <input class="m-1" type="date" name="from">
        <span class="fw-bold">To</span>
        <input class="m-1" type="date" name="upto">

        <button class="btn btn-outline-primary btn-sm m-1" type="submit">Apply date</button>
      </form>
      <form action="/admin/sales-report" method="post">

        <div class="row d-flex mt-2 mb-2">
          <!-- Add a new input for order status -->
          <div class="col-md-11">
            <select class="form-select col-10" name="status">

              <option value="">Order Status Filter All</option>
              <option value="Processing">Processing</option>
              <option value="Shipped">Shipped</option>
              <option value="Cancelled">Cancelled</option>
              <option value="Delivered">Delivered</option>
              <option value="Returned">Returned</option>

              <!-- Add more options as needed -->
            </select>
          </div>

          <div class="col-md-1">
            <button class="btn btn-outline-primary btn-sm" style="height: 38px;" type="submit">Apply</button>
          </div>
        </div>

      </form>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                User
              </th>
              <th>
                Delivery Address
              </th>
              <th>
                Order Details
              </th>
              <th>
                Order Date
              </th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td colspan="6">
                No data found.
              </td>
            </tr>
            
          </tbody>
        </table>
        <div class="d-flex">
          <div class="col-md-9 col-12 pt-3">
            Total orders done: 0<br>
            <strong>Total Revenue: ₹0</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Hide the loading spinner
    document.getElementById("loading-spinner").style.display = "none";
    // Display the content
    document.getElementById("content").style.display = "block";
  });
</script>

</body>

</html>